<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskMax</title>
  <link rel="icon" href="/favicon/favicon.ico?v=1.1">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="body-container">
    <div class="logo-container">
      <form action="/" method="get">
        <button class="logo-btn" type="submit">
          <h1>TaskMax</h1>
        </button>
      </form>
    </div>

    <form action="/" method="post">
      <div class="input-cont-1">
        <label><span class="asterisk">*</span>Title
          <input type="text" name="title" required>
        </label>
        <select name="completed">
          <option value="false">Pending</option>
          <option value="true">Completed</option>
        </select>
        <label>Category
          <select name="inputcategory">
            <option value="upcoming">Upcoming</option>
            <option value="important">Important</option>
            <option value="urgent">Urgent</option>
          </select>
        </label>
      </div>

      <div class="input-cont-2">
        <label>
          <textarea name="desc" cols="40" rows="5" placeholder="Description"></textarea>
        </label>
        <label>Due Date
          <input type="datetime-local" name="duedate">
        </label>
        <button class="btn add-btn" type="submit">Add Task</button>
      </div>
    </form>

    <div class="filter">
      <form action="/display" method="post">
        <label>Filter
          <select name="listcategory">
            <option value="all">All</option>
            <option value="upcoming">Upcoming</option>
            <option value="important">Important</option>
            <option value="urgent">Urgent</option>
          </select>
        </label>
        <button class="btn" type="submit">Show Tasks</button>
      </form>
    </div>

    <div class="update-cont">
      <h2 class="header">Update Tasks</h2>
      <% array.forEach((element, index)=> { %>
        <form action="/update/<%= element.cryptoid %>/<%= index %>" method="post">
          <div class="task">
            <label><span class="asterisk">*</span>Title
              <input type="text" name="lititle<%= index %>" value="<%= element.title %>" required>
            </label>
            <select name="licompleted<%= index %>">
              <% if (element.completed) { %>
                <option value="false">Pending</option>
                <option value="true" selected>Completed</option>
                <% } else { %>
                  <option value="false" selected>Pending</option>
                  <option value="true">Completed</option>
                  <% } %>
                </select>
                <label>Category
                  <select class="uppercase" name="liinputcategory<%= index %>">
                    <% categ.forEach(elem=> { %>
                      <% if (elem==element.category) { %>
                        <option value="<%= elem %>" selected>
                          <%= elem %>
                        </option>
                        <% } else { %>
                          <option value="<%= elem %>">
                            <%= elem %>
                          </option>
                          <% } %>
                            <% }) %>
                  </select>
                </label>
            <textarea name="lidesc<%= index %>" cols="40" rows="5"><%= element.desc %></textarea>
            <label>Due Date
              <input type="datetime-local" name="liduedate<%= index %>" value="<%= element.duedate %>">
            </label>
            <button class="btn" type="submit">Save</button>
          </div>
        </form>
        <% }) %>
    </div>

    <div>
      <h2 class="header">Delete Tasks</h2>
      <% array.forEach((element)=> { %>
        <div class="task">
          <form action="/delete/<%= element.cryptoid %>" method="post">
            <label>Title
              <input type="text" name="lititle" value="<%= element.title %>" readonly>
            </label>
            <select name="licompleted" disabled>
              <% if (element.completed) { %>
                <option value="false">Pending</option>
                <option value="true" selected>Completed</option>
                <% } else { %>
                  <option value="false" selected>Pending</option>
                  <option value="true">Completed</option>
                  <% } %>
                </select>
                <label>Category
                  <select class="uppercase" name="liinputcategory" disabled>
                    <% categ.forEach(elem=> { %>
                      <% if (elem==element.category) { %>
                        <option value="<%= elem %>" selected>
                          <%= elem %>
                        </option>
                        <% } else { %>
                          <option value="<%= elem %>">
                            <%= elem %>
                          </option>
                          <% } %>
                            <% }) %>
                  </select>
                </label>
            <textarea name="lidesc" cols="40" rows="5" readonly><%= element.desc %></textarea>
            <label>Due Date
              <input type="datetime-local" name="liduedate" value="<%= element.duedate %>" readonly>
            </label>
            <button class="btn del-btn" type="submit">Delete</button>
          </form>
        </div>
        <% }) %>
    </div>
  </div>

</body>

</html>